<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.title }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

    {% for chapter in site.chapters %}
      <a class="sidebar-nav-item{% if page.url == chapter.url %} active{% endif %}" href="{{site.baseurl}}{{ chapter.url }}">{{ chapter.title }}</a>
    {% endfor %}
  </nav>
</div>
